/* ProfileCard.css */

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.profile-picture-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: center;
}

.profile-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.profile-bio {
  margin: 0;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
