@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;600&family=Signika:wght@400;600&display=swap');

:root {
  --primary: #EAB643;
  /* --primary: #3898d4; */
  --primary-h: #d2af625f;

  --secondary: #ECCA80;

  --bg1: #FAF9F9;
  --bg2: #F0F0F0;

  --text: #1C1C1D;
  --text-variant: #323030;

  --card-bg: #f4efef9b;

  --hover-bg: #f1f1f1;
  --hover-bg: #e9e9e9;

  --shadow: -2px 0px 15px -2px #4d484833;

  /* --ripple: #a8a0a067; */

  --transition-400: all 400ms ease;

  --sidebar-w: 15em;

  --scroll-thumb: #dedada;
}

:root#dark {
  /* --bg1: #221d43;
  --bg2: #191240; */

  --bg1: #08192a;
  --bg2: #112031;

  /* --text: #D7D9DD;
  --text-variant: #e0e0e0b3; */
  --text: #fff;
  --text-variant: #8899a6;

  /* --card-bg: #1d1933; */
  --card-bg: #192734;

  --hover-bg: #22303c;

  --shadow: #534f4f56 -2px 0 15px -2px;

  /* --ripple: #a8a0a067; */

  --scroll-thumb: #ffffff18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: .75em;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: var(--scroll-thumb);
}

body {
  background: var(--bg1);
  color: var(--text);
}

a,
a:link,
a:active {
  color: var(--text);
}

.ripple {
  display: block;
  position: relative;
  z-index: 99;
}

.ripple::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0);
  z-index: 97;
}

.ripple:active::before {
  animation: ripple 500ms ease-out;
}

.btn-nav {
  border-radius: 5px;
  border: none;
  color: var(--text);
  padding: .5em 1em;
  margin-right: 20px;
  cursor: pointer;
  background: var(--primary);
  color: var(--text);
  transition: var(--transition-400);
}

.btn-nav:hover {
  background: var(--primary-h);
}

.btn-nav:active {
  background: #d7950499;
}




.card {
  margin: auto;
  margin-top: 5em;
  padding: 1em;
  width: 15em;
  height: 18em;
  background: var(--card-bg);
}

.card h1 {
  text-align: center;
  color: var(--text);
}

.card-desc {
  display: block;
  margin-top: 3em;
  text-align: justify;
  color: var(--text-variant);
}

.card:hover {
  background: var(--hover-bg);
  box-shadow: var(--shadow);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }

  25% {
    opacity: 0.5;
    background: #cbc7c74d;
  }

  50% {
    opacity: 1;
    transform: scale(1.75);
  }
}