.product-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(100% - 96px);
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 40%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    margin: 20px auto;
    border-radius: 3%;
    display: block; /* add this line to center the image */
  }
  
  .product-details {
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .product-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .category {
    color: var(--grey);
    font-size: 14px;
    margin: 0;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .contribute-now {
    background-color: var(--secondary);
    color: var(--black);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .chat-now {
    background-color: var(--white);
    color: var(--secondary);
    padding: 10px 20px;
    border-color: var(--yellow);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  
  @media only screen and (max-width: 768px) {
    .product-card {
        max-width: 80%;
        margin: 20px auto;
    }

    .product-card img {
        margin-left: 20px;
        width: 80%;
    }

    

    .product-details {
        width: 100%;
        /* align-items: center; */
    }

    .buttons {
        margin-top: 10px;
    }
}

.contribute-before {
    font-size: 14px;
    color: var(--secondary);
    margin-top: 10px;
}


  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .product-card img {
      width: 80%;
    }
    .product-details {
      width: 100%; /* Set width to 100% */
    }
    .product-details h2 {
      width: 100%;
    }
    .description {
      width: 100%;
    }
  }
  
  
  
  