.progress-bar-wrapper {
  position: relative;
}

.progress-bar-container {
  position: relative;
}

.progress-bar {
  margin-right: 10px;
}

.eth-text {
  position: absolute;
  top: 0.5%;
  right: -40px;
  font-size: 16px;
  font-weight: bold;
}
